<% layout('layout') -%>

<div class="plan-container" id="<%= 'plan' + plan._id %>">
	<div class="plan-title"> <%= plan.title %> </div>

	<div class="interaction-buttons-container">
		<!-- TODO: make this button link to the proposals at the bottom of the page -->
		<div class="proposals-label"> <%= plan.proposals.length %> proposals</div>
		<!-- TODO: make this button display a list of supporters on hover -->
		<!-- TODO: make this button send a post to /plan/{plan}/support on click-->
		<div class="supporters-label"> <%= plan.supporters.length %> supporters</div>


		<div class="button supporters-button">support this plan</div>
	</div>

	<div class="plan-content-container">
		<% plan.elements.forEach(function (el, index) { %>
			<%- partial('partials/' + el.type, el) %>
		<% }); %>
	</div>

	<div class="proposals-background">
		<div class="proposals-container">
			<% plan.proposals.forEach(function (proposal, index) { %>
				<%- partial('proposal', proposal) %>
			<% }); %>
			<a class="button new-proposal-button" href="/<%=schoolId%>/<%=plan._id%>/proposal/new">Make a new proposal</a>
		</div>
	</div>



</div>